{% extends 'store/base.html' %}
{% block adminactive %} active {% endblock adminactive %}
{% load static %}

{% block body %}
<br>
<div class="row my-4">
    <div class="col-4">
        <div class="col-md">
            <div class="card text-center text-white mb-3 shadow" id="total-customers">
                <div class="card-header">
                    <h4 class="card-title">Total Customers</h4>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ total_customers }}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="col-md">
            <div class="card text-center text-white mb-3 shadow" id="total-products">
                <div class="card-header">
                    <h4 class="card-title">Total Products</h4>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ total_products }}</h3>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'store/status.html' %}

<br>
<div class="row my-4">
    {% if recent_orders %}
    <div class="box-element shadow mb-4">
        <p><strong class="fs-3">Recent Orders</strong></p>
        <hr>

        <table class="table table-striped table-hover border">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Customer</th>
                <th scope="col">Date Ordered</th>
                <th scope="col">Transaction Id</th>
                <th scope="col">Address</th>
                <th scope="col">Order Status</th>
            </tr>

            {% for order in recent_orders %}
            <tr>
                <td><strong>{{ forloop.counter }}.</strong></td>
                <td>{{ order.customer }}</td>
                <td>{{ order.date_ordered }}</td>
                <td>{{ order.transaction_id }}</td>
                <td>
                    {% for address in order.shippingaddress_set.all %}
                        {{ address.address }}, {{ address.city }}, {{ address.division }}
                    {% endfor %}
                </td>
                <td>
                    {% if order.status == 'Pending' %}
                        <span class="text-danger"><strong>{{ order.status }}</strong></span>
                    {% elif order.status == 'Order Confirmed' %}
                        <span class="text-success"><strong>{{ order.status }}</strong></span>
                    {% elif order.status == 'Out for delivery' %}
                        <span class="text-warning"><strong>{{ order.status }}</strong></span>
                    {% elif order.status == 'Delivered' %}
                        <span class="text-primary"><strong>{{ order.status }}</strong></span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% else %}
    <div class="box-element shadow mb-4">
        <p class="text-center"><strong class="fs-3">No Recent Orders!!!</strong></p>
    </div>
    {% endif %}
</div>


{% endblock body %}
