{% extends 'store/base.html' %}
{% load static %}

{% block body %}
<br>
<div class="row my-4 justify-content-center">
    <div class="col-md-8">
        <div class="box-element shadow mb-4">

            <table class="table table-info table-striped table-hover border">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Sender</th>
                        <th scope="col">Feedback</th>
                        <th scope="col">Data Sent</th>
                    </tr>
                </thead>
                <tbody>
                    {% for feedback in feedbacks %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ feedback.name }}</td>
                        <td>{{ feedback.feedback }}</td>
                        <td>{{ feedback.created }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>
{% endblock body %}
