{% extends 'store/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block body %}
<br>
<div class="row my-4 justify-content-center">
    <div class="col-md-6">
        <div class="card card-body">
            <p>Forgotten your password? Enter your email address below, and we’ll email instructions for
                setting a new one.</p>

            <form method="post"> {% csrf_token %}
                {{ form|crispy }}
                <div class="my-4">
                    <button type="submit" class="btn btn-primary">Request Password Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock body %}
