{% extends 'store/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block body %}
<br>
<div class="row my-4 justify-content-center">
    <div class="col-md-6">
        <div class="card card-body">
            <p>Please enter your new password twice, so we can verify you typed it in correctly.</p>

            <form method="post"> {% csrf_token %}
                {{ form|crispy }}
                <div class="my-4">
                    <button type="submit" class="btn btn-primary">Change my password</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock body %}
